:root {
  --light: #faf0e6;
  --secuncolor: #002c58;
  --maincolor: #005dba;
  --darker: #28282b;
  --red: #ff4433;
  --yellow: #fada5e;
  --green: #0bda51;
  --lightb: #add8e6;
}

body {
  font-family: "Nunito", sans-serif;
  background: var(--light);
}

.navbar-brand img {
  width: 50px;
  height: auto;
  padding: 4px;
}

.footer_container {
  background-color: var(--secuncolor);
  color: white;
}


.footer--light {
  background-color: var(--secuncolor);
  color: white;
}

.footer__socials ul {
  list-style: none;
  font-size: 1.8rem;
  gap: 24px;
}

.footer__socials a {
  font-size: 1.8rem;
  text-decoration: none;
}

.footer__socials a:hover {
  color: var(--light);
  transition: all 0.5s ease;
}

.footer__text {
  font-size: 10px;
  color: var(--lightb);
}

@media (max-width: 720px) {
  a.text-body-secondary {
    display: none;
  }
}
