* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

:root {
  --backgroundcolor: #faf0e6;
  --secuncolor: #002c58;
  --maincolor: #005dba;
  --darker: #1e3d58;
}

body {
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  background: var(--backgroundcolor);
  padding-top: 64px;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  right: 0;
  top: 0;
  background: var(--maincolor);
  padding: 28px 12%;
}

.navbar--light {
  transition: all 0.5s ease;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.3rem;
}

.navbar__itens ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar__itens a {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0 30px;
  transition: all 0.5s ease;
  text-decoration: none;
  color: var(--backgroundcolor);
}

.navbar__itens a:hover {
  color: red;
}

.navbar__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.navbar__btns__login {
  padding: 10px 40px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.navbar__btns__login:hover {
  background-color: #a1a1a1;
}

.navbar__btns__signin {
  padding: 10px 40px;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  color: #f2f2f2;
  background-color: #202020;
  cursor: pointer;
  transition: all 0.5s ease;
}

.navbar__btns__signin:hover {
  background-color: #3d3d3d;
}

#menu-icon {
  align-items: center;
  font-size: 2rem;
  z-index: 10001;
  display: none;
}

@media (max-width: 1280px) {
  .navbar {
    padding: 14px 2%;
    transition: 0.2s;
  }

  .navbar__itens a {
    padding: 5px 0;
    margin: 0px 20px;
  }
}

@media (max-width: 1090px) {
  #menu-icon {
    display: block;
  }

  .navbar__itens {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 29vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5 ease;
    background-color: #202020;
  }

  .navbar__itens a {
    display: block;
    margin: 12px 0;
    padding: 0 25px;
    transition: all 0.5 ease;
    color: #f2f2f2;
  }

  .navbar__itens a:hover {
    color: cyan;
    transform: translateY(5px);
  }

  .navbar__itens .open {
    right: 2%;
  }

  .footer__piinfo {
    display: none;
  }
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 12%;
  gap: 8px;
}

.footer--light {
  background-color: var(--secuncolor);
  color: white;
}

.footer__socials ul {
  display: flex;
  list-style: none;
  font-size: 1.8rem;
  gap: 24px;
}

.footer__socials a {
  text-decoration: none;
}

.footer__socials a:hover {
  color: red;
  transition: all 0.5s ease;
}

.footer__piinfo {
  font-size: 12px;
  text-align: center;
}

.footer__credits {
  font-size: 10px;
  text-align: center;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}
