.wrapper {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.whitebox {
  width: 80vw;
  background: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  min-height: 50%;
}

.whitebox__newcompanybtn {
  background-color: var(--darker);
  border: 2px solid black;
  border-radius: 20px;
  color: var(--light);
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  width: 40%;
}

.whitebox__newcompanybtn:hover {
  background-color: var(--maincolor);
}

.whitebox__filterbtn {
  width: 100%;
  background-color: var(--maincolor);
  font-weight: 400;
}

.whitebox__filterbtn:hover {
  background-color: var(--secuncolor);
}

.whitebox__deletebtn {
  background-color: var(--red);
  border-radius: 50%;
  border: none;
}

.whitebox__deletebtn:hover {
  color: white;
  text-decoration: none;
  background-color: var(--darker);
}



@media (max-width: 720px) {
  .whitebox {
    width: 100%;
    min-height: auto;
  }
}

@media (max-width: 450px) {
  tr.td.num-jobs {
    display: none;
  }
}