.titulo {
  color: #7d2948;
  font-weight: bold;
}

.paragrafo {
  font-size: 25px;
}

.btn-orange {
  background-color: #ed8554;
  color: white;
}

label {
  font-weight: bold;
}

.box-vagas {
  width: 400px;
  margin-top: 60px;
  background-color: #ede6e6;
}

.header-vagas {
  background-color: #7d2948;
  padding: 15px;
  color: white;
}

.body-vagas {
  padding: 15px;
}

.paragrafo-orange {
  color: #ed8554;
}
