.jobcontainer {
  width: 25%;
  height: 300px;
  background-color: blueviolet;
}

.jobcontainer__header {
  background-color: #7d2948;
  padding: 15px;
  color: white;
}

.body-vagas {
  padding: 15px;
}

.whitebox {
  width: 60vw;
  background: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  min-height: 60vh;
}

.companylogo {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid black;
}
.companylogo img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

@media (max-width: 720px) {
  .whitebox {
    width: 100%;
  }
}
