.wrapper {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.whitebox {
  background: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  min-height: 60vh;
  width: 60vw;
}

.form-control {
  color: #4e4c97;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  height: 40px;
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid var(--maincolor);
  box-shadow: none;
}

.header {
  border-bottom: 1px solid black;
}

.row {
  padding: 12px;
}

.body-box {
  margin-top: 20px;
}

.form__submitbtn {
  background-color: var(--maincolor);
  color: white;
  padding: 12px;
  border-radius: 18px;
  font-size: 1.1em;
}

.form__submitbtn:hover {
  background-color: var(--secuncolor);
  color: white;
}

@media (max-width: 1090px) {
  .box {
    width: 100%;
  }
}
