{% extends 'base.html' %}{% load static %} {% block 'head' %}
<link href="{% static '/styles/empresas_cadastradas.css' %}" rel="stylesheet" />
{% endblock%} {% block 'body' %}

<div class="wrapper">
  <div class="box">
    <div class="header-box">
      {% if messages %} {% for message in messages %}
      <section class="alert {{message.tags}}">{{message}}</section>
      {% endfor %} {% endif %}

      <h2 class="titulo">Gerenciar empresas</h2>
      <a class="btn-nova-empresa">Nova empresa</a>
    </div>
    <div class="borda-box"></div>
    <div class="body-box">
      <form action="{% url 'empresas_cadastradas' %}" method="GET">
        <div class="row">
          <div class="col-md-5">
            <input
              type="text"
              placeholder="Busque pelo nome"
              class="form-control"
              name="name"
            />
          </div>

          <div class="col-md-4">
            <select class="form-select" name="technologies">
              {% for tech in techs%}
              <option value="{{tech.id}}">{{tech}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-3">
            <input
              type="submit"
              value="FILTRAR"
              class="btn btn-lg btn-orange"
            />
          </div>
        </div>
      </form>

      <table class="tabela" cellpadding="20">
        {% for company in companies%}
        <tr class="tabela-linha">
          <td>{{company.name}}</td>
          <td>{{company.headquarters}}</td>
          <td>
            <select class="form-select">
              {% for tech in company.technologies.all %}
              <option>{{tech}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            {% if Company.qtd_vagas > 0 %}
            <img src="{% static '/assets/flag_green.png' %}" />
            {% else %}
            <img src="{% static '/assets/flag_red.png' %}" />
            {% endif %} {{Company.qtd_vagas}}
          </td>
          <td>
            <a class="btn-excluir" href="{% url 'excluir_empresa' company.id %}"
              >Excluir empresa</a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock%}
