{% extends "base.html" %}

{% block 'body' %}

    <div class="wrapper">
        <div class="box">
            <div class="header">
                <h3 class="title">Nova empresa</h3>
            </div>

            <div class="body-box">
                <form action="" method="" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-md">
                            <label>Nome:</label>
                            <input type="text" class="form-control" name="name" placeholder="Digite seu nome...">
                        </div>

                        <div class="col-md">
                            <label>E-mail:</label>
                            <input type="email" class="form-control" name="email" placeholder="email@gmail.com">
                        </div>

                        <div class="col-md">
                            <label>Sede:</label>
                            <input type="text" class="form-control" name="headquarters" placeholder="Digite o local onde fica a sede da empresa...">
                        </div>
                    </div>
                    <br>

                    <div class ="row">   
                        <div class="col-md">
                            <label>Tamanho da Empresa:</label>
                            <select class ="form-control" name="company-size">
                                <option value="Pequena">Pequena</option>
                                <option value="Media">Média</option>
                                <option value="Grande">Grande</option>
                            </select>
                        </div>
                        <div class="col-md">
                            <label>Nicho de mercado:</label>
                            <select class="form-control" name="niche">
                                <option value="M">Marketing</option>
                                <option value="N">Nutrição</option>
                                <option value="D">Design</option>
                            </select>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md">
                            <label>Tecnologias:</label>
                            <select class="form-control" name="technologies" multiple>                                
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md">
                            <label>Especializações:</label>
                            <textarea class="form-control" name="specializations"></textarea>
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md">
                            <label>Logo:</label>
                            <input type="file" class="form-control" name="logo">
                        </div>
                    </div>
                    <br>
                    <input type="submit" value="Nova empresa" class="btn btn-lg btn-orange">
                </form>
                
            </div>
        </div>
    </div>

{% endblock%}